<div class="py2 post-footer">
    <!-- todo:
        * add short URL
    -->
    {% capture url2share %}{{ site.url }}{{ page.url }}{% endcapture %}
    Share this  
    <a class="fa-stack fa-1x" href="https://www.facebook.com/sharer/sharer.php?u={{ url2share }}">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>	
    </a>
    <a class="fa-stack fa-1x" href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ url2share }}&via=vando">
        <i class="fa fa-circle fa-stack-2x"></i>
	<i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
    </a>
    <a class="fa-stack fa-1x" href="https://www.reddit.com/submit?title={{ page.title }}&url={{ url2share }}">
        <i class="fa fa-circle fa-stack-2x"></i>
	<i class="fa fa-reddit fa-stack-1x fa-inverse"></i>
    </a>
    <a class="fa-stack fa-1x" href="https://news.ycombinator.com/submitlink?t={{ page.title }}&u={{ url2share }}">
        <i class="fa fa-circle fa-stack-2x"></i>
	<i class="fa fa-hacker-news fa-stack-1x fa-inverse"></i>
    </a>
    <a class="fa-stack fa-1x" href="https://plus.google.com/share?t={{ page.title }}&url={{ url2share }}">
        <i class="fa fa-circle fa-stack-2x"></i>
	<i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
    </a>
</div>
